/* Grau für vergangene Events */
.past { opacity: 0.5; }

/* Farbkodierung nach EventType */
.AFTERWORK   { background-color: #0d6efd; color: white; }
.MEETUP      { background-color: #198754; color: white; }
.CONFERENCE  { background-color: #fd7e14; color: white; }
.FESTIVITY   { background-color: #dc3545; color: white; }

.evnt-mngmnt-container-sm {
    max-width: 720px;
}

.evnt-mngmnt-col-lg-btn {
    flex: 0 0 auto;
    width: 70px;
    margin: 0px 0px 0px 10px;
}